POSTGRES_DB=elevator
POSTGRES_USER=elevator
POSTGRES_PASSWORD=elevator_pwd
POSTGRES_PORT=5432

REDIS_PORT=6379

EMQX_MQTT_PORT=1883
EMQX_WS_PORT=8083
EMQX_DASHBOARD_PORT=18083
EMQX_DASHBOARD_USERNAME=admin
EMQX_DASHBOARD_PASSWORD=public

