@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #F5F7FA;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
